{% extends 'base.html' %}

{% block content %}
<div class="global-container">
	<div class="card login-form">
		<div class="card-body">
			<h3 class="card-title text-center">Reset Password</h3>
			<div class="card-text">
                <p class="text-center">Please Enter the email</p>		
                <div class="text-center">
                    <form action="{% url 'reset_pass_send_email'%}" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="reset_password" value="" required>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}